SECRET_KEY=kunci-rahasia-sistem-warnet-oop-2026
MYSQL_HOST=jdb5se.h.filess.io
MYSQL_PORT=3307
MYSQL_USER=db_warnet_flowslight
MYSQL_PASSWORD=8726b520b065c59f05e5c47383d4a0f29cd193fc
MYSQL_DB=db_warnet_flowslight
